## Introduction

This notebook is the data preperation for the analysis of standerdized testing. In this notebook we will combine the data from EdGap.org and National Center for Education Statistics. We will clean and combine this dataset and for some of the missing values we will use imputation to fill in missing values.

## Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style='whitegrid')
import missingno as msno

# Train-test splits
from sklearn.model_selection import train_test_split

# Model preprocessing
from sklearn.preprocessing import StandardScaler

# Imputation
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer, IterativeImputer, KNNImputer

## The data

This project utilizes two data sets. The primary data set is the EdGap data set from [EdGap.org](https://www.edgap.org/#5/37.875/-96.987). This data set from 2016 includes information about average ACT or SAT scores for schools and several socioeconomic characteristics of the school district. The secondary data set is basic information about each school from the [National Center for Education Statistics](https://nces.ed.gov/ccd/pubschuniv.asp).

### EdGap data

All socioeconomic data (household income, unemployment, adult educational attainment, and family structure) are from the Census Bureau's American Community Survey. 

[EdGap.org](https://www.edgap.org/#5/37.875/-96.987) report that ACT and SAT score data is from each state's department of education or some other public data release. The nature of the other public data release is not known.

The quality of the census data and the department of education data can be assumed to be reasonably high. 

[EdGap.org](https://www.edgap.org/#5/37.875/-96.987) do not indicate that they processed the data in any way. The data were assembled by the [EdGap.org](https://www.edgap.org/#5/37.875/-96.987) team, so there is always the possibility for human error. Given the public nature of the data, we would be able to consult the original data sources to check the quality of the data if we had any questions.

### School information data

The school information data is from the [National Center for Education Statistics](https://nces.ed.gov/ccd/pubschuniv.asp). This data set consists of basic identifying information about schools and can be assumed to be of reasonably high quality. As for the EdGap.org data, the school information data is public, so we would be able to consult the original data sources to check the quality of the data if we had any questions.

## Load the data

Load the EdGap
 data set

In [2]:
edgap = pd.read_excel('https://raw.githubusercontent.com/brian-fischer/DATA-3320/main/education/EdGap_data.xlsx')

/usr/local/lib/python3.9/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

Load the school information data

In [3]:
!wget https://www.dropbox.com/s/lkl5nvcdmwyoban/ccd_sch_029_1617_w_1a_11212017.csv?dl=0

--2023-04-23 22:16:12--  https://www.dropbox.com/s/lkl5nvcdmwyoban/ccd_sch_029_1617_w_1a_11212017.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.80.18, 2620:100:6035:18::a27d:5512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.80.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/lkl5nvcdmwyoban/ccd_sch_029_1617_w_1a_11212017.csv [following]
--2023-04-23 22:16:12--  https://www.dropbox.com/s/raw/lkl5nvcdmwyoban/ccd_sch_029_1617_w_1a_11212017.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucc188e0a9ef40b072e4c410751c.dl.dropboxusercontent.com/cd/0/inline/B6w8URIsiZxdg4r3BOCVYhOb7LA2wkJiNBV7d6BI7P4R4fW-gdRi02Cwif2NBdDXFxvCoi5al2TwtQF7y318DlBOyAH3ru2PBnEZDoE93r7_mMvv8K40fpQN-xw6z8pTyAe9jAhpWykwUJJb9YeZxyuGiJG3sSiZa0qexQnR7h9Etg/file# [following]
--2023-04-23 22:16:13--  https://ucc188e0a9ef40b072e4c410751c.dl.dropboxusercontent.com/cd/0/inline/B6w8URIsiZxdg4r3BOCVYhOb7LA2wkJiNBV7d6BI7P4R4fW-gdRi02Cwif2NBdDXFxvCoi5al2TwtQF7y318DlBOyAH3ru2PBnEZDoE93r7_mMvv8K40fpQN-xw6z8pTyAe9jAhpWykwUJJb9YeZxyuGiJG3sSiZa0qexQnR7h9Etg/file
Resolving ucc188e0a9ef40b072e4c410751c.dl.dropboxusercontent.com (ucc188e0a9ef40b072e4c410751c.dl.dropboxusercontent.com)... 162.125.80.15, 2620:100:6035:15::a27d:550f
Connecting to ucc188e0a9ef40b072e4c410751c.dl.dropboxusercontent.com (ucc188e0a9ef40b072e4c410751c.dl.dropboxusercontent.com)|162.125.80.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 40477083 (39M) [text/plain]
Saving to: ‘ccd_sch_029_1617_w_1a_11212017.csv?dl=0’

ccd_sch_029_1617_w_ 100%[===================>]  38.60M  21.5MB/s    in 1.8s

2023-04-23 22:16:15 (21.5 MB/s) - ‘ccd_sch_029_1617_w_1a_11212017.csv?dl=0’ saved [40477083/40477083]

In [4]:
school_info = pd.read_csv('ccd_sch_029_1617_w_1a_11212017.csv?dl=0', encoding='unicode_escape')

<ipython-input-4-da1a7837c049>:1: DtypeWarning: Columns (6,9,14,15,18,19,21,22,25,26,29,31,35,39,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  school_info = pd.read_csv('ccd_sch_029_1617_w_1a_11212017.csv?dl=0', encoding='unicode_escape')

## Explore the contents of the data sets

In [5]:
edgap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7986 entries, 0 to 7985
Data columns (total 7 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   NCESSCH School ID                                7986 non-null   int64
 1   CT Unemployment Rate                             7972 non-null   float64
 2   CT Pct Adults with College Degree                7973 non-null   float64
 3   CT Pct Childre In Married Couple Family          7961 non-null   float64
 4   CT Median Household Income                       7966 non-null   float64
 5   School ACT average (or equivalent if SAT score)  7986 non-null   float64
 6   School Pct Free and Reduced Lunch                7986 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 436.9 KB

In [6]:
school_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102183 entries, 0 to 102182
Data columns (total 65 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   SCHOOL_YEAR          102183 non-null  object
 1   FIPST                102183 non-null  int64
 2   STATENAME            102183 non-null  object
 3   ST                   102183 non-null  object
 4   SCH_NAME             102183 non-null  object
 5   LEA_NAME             102183 non-null  object
 6   STATE_AGENCY_NO      102183 non-null  object
 7   UNION                2533 non-null    float64
 8   ST_LEAID             102183 non-null  object
 9   LEAID                102183 non-null  object
 10  ST_SCHID             102183 non-null  object
 11  NCESSCH              102181 non-null  float64
 12  SCHID                102181 non-null  float64
 13  MSTREET1             102181 non-null  object
 14  MSTREET2             1825 non-null    object
 15  MSTREET3             28 non-null      object
 16  MCITY                102183 non-null  object
 17  MSTATE               102183 non-null  object
 18  MZIP                 102183 non-null  object
 19  MZIP4                60419 non-null   object
 20  LSTREET1             102183 non-null  object
 21  LSTREET2             582 non-null     object
 22  LSTREET3             13 non-null      object
 23  LCITY                102183 non-null  object
 24  LSTATE               102183 non-null  object
 25  LZIP                 102183 non-null  object
 26  LZIP4                59145 non-null   object
 27  PHONE                102183 non-null  object
 28  WEBSITE              51983 non-null   object
 29  SY_STATUS            102181 non-null  object
 30  SY_STATUS_TEXT       102181 non-null  object
 31  UPDATED_STATUS       102181 non-null  object
 32  UPDATED_STATUS_TEXT  102181 non-null  object
 33  EFFECTIVE_DATE       102181 non-null  object
 34  SCH_TYPE_TEXT        102181 non-null  object
 35  SCH_TYPE             102181 non-null  object
 36  RECON_STATUS         102181 non-null  object
 37  OUT_OF_STATE_FLAG    102179 non-null  object
 38  CHARTER_TEXT         102179 non-null  object
 39  CHARTAUTH1           6687 non-null    object
 40  CHARTAUTHN1          6687 non-null    object
 41  CHARTAUTH2           116 non-null     object
 42  CHARTAUTHN2          116 non-null     object
 43  NOGRADES             102179 non-null  object
 44  G_PK_OFFERED         102179 non-null  object
 45  G_KG_OFFERED         102179 non-null  object
 46  G_1_OFFERED          102179 non-null  object
 47  G_2_OFFERED          102179 non-null  object
 48  G_3_OFFERED          102179 non-null  object
 49  G_4_OFFERED          102179 non-null  object
 50  G_5_OFFERED          102179 non-null  object
 51  G_6_OFFERED          102179 non-null  object
 52  G_7_OFFERED          102179 non-null  object
 53  G_8_OFFERED          102179 non-null  object
 54  G_9_OFFERED          102179 non-null  object
 55  G_10_OFFERED         102179 non-null  object
 56  G_11_OFFERED         102179 non-null  object
 57  G_12_OFFERED         102179 non-null  object
 58  G_13_OFFERED         102179 non-null  object
 59  G_UG_OFFERED         102179 non-null  object
 60  G_AE_OFFERED         102179 non-null  object
 61  GSLO                 102179 non-null  object
 62  GSHI                 102179 non-null  object
 63  LEVEL                102179 non-null  object
 64  IGOFFERED            102179 non-null  object
dtypes: float64(3), int64(1), object(61)
memory usage: 50.7+ MB

## Convert data types, if necessary

We convert NCESSCH to an int to make it easier to work with.

In [8]:
school_info = school_info[school_info['NCESSCH'].isna() == False]
school_info['NCESSCH'] = school_info['NCESSCH'].astype('int64')

<ipython-input-8-4e290db03d6f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school_info['NCESSCH'] = school_info['NCESSCH'].astype('int64')

## Are the data suitable for answering the question?

There is a lot of suitable data. We have the act score column which will be the main factor we will investigate. We will have data such as employment, income, and education as variables we will compare with act score.

## Select relevant subsets of the data

The school information data set contains a lot of information. We only need the year, school identity, location, and school type information.

Keep the columns `SCHOOL_YEAR`, `NCESSCH`, `MSTATE`, `MZIP`, `SCH_TYPE_TEXT`, `LEVEL`

In [10]:
school_info = school_info[['SCHOOL_YEAR', 'NCESSCH', 'MSTATE', 'MZIP', 'SCH_TYPE_TEXT', 'LEVEL']]

## Rename columns

In [11]:
edgap = edgap.rename(columns={"NCESSCH School ID":"id", 
              "CT Pct Adults with College Degree":"percent_college",        
              "CT Unemployment Rate":"rate_unemployment", 
              "CT Pct Childre In Married Couple Family":"percent_married",
              "CT Median Household Income":"median_income",
              "School ACT average (or equivalent if SAT score)":"average_act",
              "School Pct Free and Reduced Lunch":"percent_lunch"})

Rename the columns `SCHOOL_YEAR`, `NCESSCH`, `MSTATE`, `MZIP`, `SCH_TYPE_TEXT`, `LEVEL` to `year`, `id`, `state`, `zip_code`, `school_type`, `school_level`

In [12]:
school_info = school_info.rename(columns={'SCHOOL_YEAR':'year', 
                                          'NCESSCH':'id', 
                                          'MSTATE':'state',
                                          'MZIP':'zip_code',
                                          'SCH_TYPE_TEXT':'school_type',
                                          'LEVEL':'school_level'})

## Join data frames

We do a left join here because we want all the rows from the edgap table.

In [14]:
df = edgap.merge(school_info, how = 'left', on='id')

## Quality Control

Check for out-of-range values or values that do not match what we want to analyze. Either set values to `NaN` or remove the observations, as appropriate.

In [15]:
df.agg(['min', 'max']).round(2)

<ipython-input-15-39a2038683d4>:1: FutureWarning: ['year', 'state', 'zip_code', 'school_type', 'school_level'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.agg(['min', 'max']).round(2)

,id,rate_unemployment,percent_college,percent_married,median_income,average_act,percent_lunch
min,100001600143,0.00,0.09,0.0,3589.0,-3.07,-0.05
max,560583000335,0.59,1.00,1.0,226181.0,32.36,1.00

In [16]:
df['state'].unique()

array(['DE', 'FL', 'GA', nan, 'IL', 'IN', 'KY', 'LA', 'MA', 'MI', 'MO',
       'NJ', 'NY', 'NC', 'OH', 'PA', 'TN', 'TX', 'WA', 'WI', 'WY'],
      dtype=object)

We do not want a percentage to be negative since it does not fit the context, therefore we will remove them. The lowest act score should be 1 so all values below that will be removed. The section of data we are most interested in are students who took the act in highschool so we will drop the data of students outside of highschool.

In [20]:
df['percent_lunch'] = np.where((df['percent_lunch'] < 0), np.nan, df['percent_lunch'])
df['average_act'] = np.where((df['average_act'] < 1), np.nan, df['average_act'])
df.dropna(subset=['average_act'])
df=df[df['school_level'] == 'High']
df = df.loc[df['average_act'].isna() == False]

## Identify missing values

Determine whether there are missing values in the data set. Only identify them at this point; we will deal with them after creating training and testing splits of the data set.

In [21]:
df.isna().sum()

id                    0
rate_unemployment    12
percent_college      11
percent_married      20
median_income        16
average_act           0
percent_lunch        20
year                  0
state                 0
zip_code              0
school_type           0
school_level          0
dtype: int64

## Train test split

We will use the test set approach to compare models predicting `average_act`. 

![](https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/ML_dataset_training_validation_test_sets.png/800px-ML_dataset_training_validation_test_sets.png)

Split the data into training and testing sets. Keep 20% of the data for the test set.

We select all the data except for id and the act score for our X and then the act score will be used as the y.

In [22]:
X = df[df.columns.difference(['id','average_act'])]
y = df['average_act']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state = 1)

## Data imputation

Use an imputation method to replace missing values in the columns corresponding to predictor variables in the analysis.

In [25]:
imputer = IterativeImputer()
imputer.fit(X_train.loc[:,'median_income':'rate_unemployment'])
X_train.loc[:, 'median_income':'rate_unemployment'] = imputer.transform(X_train.loc[:,'median_income':'rate_unemployment'])
X_test.loc[:,'median_income':'rate_unemployment'] = imputer.transform(X_test.loc[:,'median_income':'rate_unemployment'])
df_train = X_train.join(y_train)
df_test = X_test.join(y_test)

## Create relevant derived variables as new columns

We may already know that we want to process the data to create new variables from the existing variables. However, we often start analyzing the data and realize that it is useful to create new variables derived from the existing variables. Or, we might not create any new columns. It is fine to return to modify this step after exploring the data further.

## Export the clean .csv files

Export files with the training and testing data

In [26]:
from google.colab import files

df.to_csv('clean_education_inequality.csv', encoding = 'utf-8-sig', index=False) 

files.download('clean_education_inequality.csv')